@page "/MaintenanceRequestDetails"
@model HouseCare.Pages.MaintenancePersonnel.MaintenanceRequestDetailsModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/MaintenancePersonnel/MaintenanceRequestDetails.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar -->
                <div class="sidenav">
                    <a id="request" href="/MaintenanceRequests">Maintenance Requests</a>
                    <a id="profile" href="/Profile">My Profile</a>

                </div>
            </div>
        </div>
    </div>
    <div class="subcontainer">
        <p>
            Here are more details about your assigned request to help you understand the problem better and plan your work accordingly.<br /> Remember, your expertise keeps our operations running smoothly.<br /> Thank you for your hard work and dedication!.<br />
        </p>
    </div>

    <div class="card bg-light" style="margin-left:45%; margin-top:5%; width:50%;">
        <div class="card-body">
            <h4 class="card-title requesterdetails">Details about Requester</h4>
            <p class="card-text detailsparagraph" style="text-align:start;">
                <span style="color:#db3e7c;">
                    Requester Name :</span> @Model.Request.RequesterName<br />
                <span style="color:#db3e7c;">
                    Phone Number : </span> @Model.Request.RequesterPhone<br />
                <span style="color:#db3e7c;">
                    Address : </span> @Model.Request.Street , @Model.Request.Neighbourhood.Name <br />
                <span style="color:#db3e7c;"> Email : </span> @Model.Request.RequesterEmail<br />
            </p>

        </div>
    </div>


    <div class="card bg-light" style="margin-left:45%; margin-top:5%; width:50%;">
        <div class="card-body">


            <h4 class="card-title requesterdetails">Details about Request</h4>
            <p class="card-text detailsparagraph" style="text-align:start;">
                <span style="color:#db3e7c;">
                    Request Category : </span> @Model.Request.RequestCategory<br />
                <span style="color:#db3e7c;">
                    Requested Date : </span>@Model.Request.RequestDate.ToString("d") <br />
                <span style="color:#db3e7c;">
                    Issue Details : </span> @Model.Request.Description <br />
                    <span style="color:#db3e7c;">Issue images : </span> @(Model.Request.ImageString.Count == 0 ? "No image is uploaded" : "")
               
            </p>
            @foreach (var img in Model.Request.ImageString)
            {
                <img id="overlap" class="pop-out" style="max-width:100%; padding-bottom:2%; height:auto;" src="~/Assets/Images/Issues/@img" />
            }

        </div>
    </div>
</body>
</html>
