@page "/MaintenanceRequest"
@model HouseCare.Pages.Guest.MaintenanceRequestModel
@{
    foreach(var item in Model.Cities)
    {
        List<string> neighbourhoodNames = new List<string>();
        foreach (var neighbourhood in item.Neighbourhoods)
        {
            neighbourhoodNames.Add(neighbourhood.Name);
        }
        Model.CityAreas.Add(item.Name,neighbourhoodNames);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Guest/MaintenanceRequest.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div class="subcontainer">
        <p>
            We provide all types of maintenance services with best quality. Our services include preventive maintenance, corrective maintenance, and predictive maintenance.
            We also provide equipment installation.<br />
        </p>
        <div class="custom">
            <div class="row">
                <div class="col-lg-9 mx-auto rounded border` p-3 custom-border">
                    <h5 style="padding-bottom:15px;">We would like to know more about your request! </h5>
                    <form method="post" enctype="multipart/form-data" >
                     
                            <div class="form-group">
                                <label class="form-label" style=" color:#db3e7c">Maintenance service category *</label>
                                <select class="form-select" name="MaintenanceRequest.RequestCategory" required>
                                    <option value="Plumbing" selected="@(Model.Type == "Plumbing")">Plumbing</option>
                                    <option value="Electricity" selected="@(Model.Type == "Electricity")">Electricity</option>
                                    <option value="AC" selected="@(Model.Type == "AC")">AC </option>
                                    <option value="Refrigerator" selected="@(Model.Type == "Refrigerator")">Refrigerator</option>
                                    <option value="Stove" selected="@(Model.Type == "Stove")">Stove</option>
                                    <option value="Carpentry" selected="@(Model.Type == "Carpentry")">Carpentry</option>
                                    <option value="Painting" selected="@(Model.Type == "Painting")">Painting</option>
                                    <option value="Dishwasher" selected="@(Model.Type == "Dishwasher")">Dishwasher</option>
                                    <option value="Washing Machine" selected="@(Model.Type == "Washing Machine")">Washing Machine</option>
                                    <option value="Electric Heater" selected="@(Model.Type == "Electric Heater")">Electric Heater</option>
                                    <option value="Dryer" selected="@(Model.Type == "Dryer")">Dryer</option>
                                    <option value="Microwave" selected="@(Model.Type == "Microwave")">Microwave</option>
                                    <option value="Water Heater" selected="@(Model.Type == "Water Heater")">Water Heater</option>
                                    <option value="Ceiling Fans" selected="@(Model.Type == "Ceiling Fans")">Ceiling Fans</option>
                                    <option value="Wood Repairs" selected="@(Model.Type == "Wood Repairs")">Wood Repairs</option>
                                </select>
                            </div>
                        
                        
                            <div class="form-group ">
                                <label class="form-label" style=" color:#db3e7c">Write details about your issue *</label>
                                <textarea class="form-control mytextarea" name="MaintenanceRequest.Description" rows="5" cols="40" required></textarea>
                            </div>
                        

                       
                            <div class="form-group">
                                <label class="form-label" style="color:#db3e7c">Choose available date for you *</label>
                                <input type="date" class="form-control" name="MaintenanceRequest.RequestDate" required />
                            </div>
                    

                        
                            <div class="form-group">
                                <label class="form-label" style=" color:#db3e7c">Attach pictures of the issue (optional) </label>
                                <input type="file" class="form-control" name="MaintenanceRequest.Image" multiple />
                            </div>
                       


                        <h5 style="padding:15px;">Contact Information </h5>
                        <div class="contact">
                            
                                <div class="form-group">
                                    <label class="form-label" style="color:#db3e7c; ">Full name *</label>
                                    <input type="text" class="form-control" name="MaintenanceRequest.RequesterName" required />
                                </div>
                            

                            
                                <div class="form-group" >
                                    <label class="form-label" style=" color:#db3e7c;">Email Address *</label>
                                    <input type="email" class="form-control" name="MaintenanceRequest.RequesterEmail" required />
                                </div>
                            

                            
                                <div class="form-group" >
                                    <label class="form-label" style=" color:#db3e7c;">Whatsapp no. *</label>
                                    <input type="tel" class="form-control" name="MaintenanceRequest.RequesterPhone" required />
                                </div>

                            <div class="row g-3 custom-forms">
                                <div class="col">
                                    <label class="form-label" style=" color:#db3e7c;">City *</label>
                                    <select class="form-select" id="citySelect" required>
                                        @{
                                            var count = 0;
                                            @foreach (var city in Model.CityAreas)
                                            {
                                                if (count == 0)
                                                {
                                                    <option value="@city.Key" selected>@city.Key</option>
                                                }
                                                else
                                                {
                                                    <option value="@city.Key">@city.Key</option>
                                                }
                                                count++;

                                            }
                                        }

                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label" style=" color:#db3e7c;">Area *</label>
                                    <select class="form-select" id="areaSelect" name="NeighbourhoodName" required>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label" style=" color:#db3e7c;">Street *</label>
                                    <input class="form-control" name="MaintenanceRequest.Street" style="margin-left:0px;" required />
                                </div>
                            </div>
                        </div>

                        <div class="button">
                            <button type="submit" class="btn btn-secondary custom-button">Submit request </button>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger no-bullet" style="width:300px; ">
                        </div>
                        <style>
                            .no-bullet ul, .no-bullet ol {
                                list-style: none;
                            }
                        </style>
                    </form>
                </div>
            </div>

        </div>
        </div>
        
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar -->
                <div class="sidenav">
                    <a href="/MaintenanceServices">Home Page</a>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            var citySelect = document.getElementById('citySelect');
            var selectedCity = citySelect.value;
            var listOfCities = @Html.Raw(Json.Serialize(Model.CityAreas));
            var areaSelect = document.getElementById('areaSelect');
            areaSelect.innerHTML = '';
            var listOfAreas = listOfCities[selectedCity];
            listOfAreas.forEach(function (area) {
                var option = document.createElement('option');
                option.value = area;
                option.textContent = area;
                areaSelect.appendChild(option);
            });
           

    });

        document.getElementById('citySelect').addEventListener('change', function () {
            var selectedCity = this.value;
            var listOfCities = @Html.Raw(Json.Serialize(Model.CityAreas));
            var areaSelect = document.getElementById('areaSelect');
            areaSelect.innerHTML = '';
            if (selectedCity in listOfCities) {
                var listOfAreas = listOfCities[selectedCity];
                listOfAreas.forEach(function (area) {
                    var option = document.createElement('option');
                    option.value = area;
                    option.textContent = area;
                    areaSelect.appendChild(option);
                });
            }
        });
    </script>
 </body>
 </html>


